.icon {
  fill: white;
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px;
}

@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    align-items: flex-start;
    height: auto;
    padding: 20px 0;
    padding-left: 20%;
  }

  .footer .linkContainer:not(:last-child) {
    margin-bottom: 15px;
  }
}

.link {
  display: flex;
  align-items: center;
  color: white;
  cursor: pointer;
  text-decoration: none;
}

.link:hover {
  color: var(--color-grey-200);
}

.link:hover .icon {
  fill: var(--color-grey-200);
}