.motivation {
        width: 90%;
            max-width: 80rem;
            margin: var(--size-8) auto;
}

.motivation p {
    font-size: var(--size-5);
    color: var(--color-grey-100);
    width: 90%;
    max-width: 40rem;
    margin: auto;
    margin-bottom: var(--size-3);
}

.motivation h3 {
    font-size: var(--size-12) ;
        color: var(--color-grey-800);
        text-align: center;
}